#appsDiv {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.card {
    background-color: var(--white);
    border-radius: 10px;
    height: 100px;
    margin: 2rem;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}

.card .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
}

.card .img-container img {
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    background-color: var(--white);
}

.card .content {
    font-size: 18px;
    background-color: var(--white);
    color: var(--cadet-blue);
    font-weight: bold;
    text-align: center;
  }