#headshot {
    border-radius: 10%;
    width: 75%;
    

}

.col p {
    margin-top: 0%;
}

#about-me {
    padding-top: 5%
}

#about-text {
    margin-top: 100px;
    font-size: 20px;
    margin-right: 5rem; 
    
}
.container {
    background-image: url(../images/silverbackground.jpg);
    background-size: cover
}

#about-me-container {
    margin-top: 5rem;
    width: 80%;
    
    box-shadow: 5px 5px 5px 5px;
    
}