nav {
    font-size: 25px;
    height: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgba(204, 204, 204, 0.6);     
};



@media (max-width: 768px) {
    .nav {
      font-size: 20px; 
      height: auto; 
      background-color: rgba(204, 204, 204, 0.8)
    }
  }




