body {
  background-image: url(../images/citybackground.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}


.banner {
  background: rgba(204, 204, 204, 0.8);
  text-align: center;
  box-shadow: 10px 10px 20px black;
  border-radius: 15px 15px 15px 15px;
  width: 60%;
  margin: 20vh auto;
  padding: 2%
}


.home-background h1 {
  font-size: 75px;
  font-weight: bolder;
  color: 342e37;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.home-background p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2rem;
  color: 342e37;
  font-family: Georgia, 'Times New Roman', Times, serif
}

q {
  font-family: cursive;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  /* Styles for screens 768px and smaller */
  .banner {
    width: 90%;
    margin: 10vh auto;
  }
  
  .home-background h1 {
    font-size: 40px;
  }
  
  .home-background p {
    font-size: 16px;
  }
  
  q {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for screens between 768px and 1024px */
  .banner {
    width: 70%;
    margin: 15vh auto;
  }
  
  .home-background h1 {
    font-size: 60px;
  }
  
  .home-background p {
    font-size: 18px;
  }
  
  q {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for screens larger than 1024px */
  .banner {
    width: 50%;
    margin: 15vh auto;
  }
  
  .home-background h1 {
    font-size: 75px;
  }
  
  .home-background p {
    font-size: 20px;
  }
  
  q {
    font-size: 30px;
  }
}