body {
    background-image: url(../images/citybackground.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    
}


.banner {
    background: rgba(204, 204, 204, 0.6);
    width: 50em;
    text-align: center;
    margin: 10vh auto;
    box-shadow: 10px 10px 20px black;
       
}


.home-background h1 {
    font-size: 75px;
    padding: 50px;
    font-weight: bolder;
    color: 342e37
}

.home-background p {
    font-size: 20px;
    font-weight: bold;
    color: 342e37
}