.resume {
    width: 90%;
    padding-top: 10px;
    margin: 6rem;
    background-image: url(../images/silverbackground.jpg);
    background-size: cover
    
}

embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}