@media (max-width: 1310px) {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
      margin-left: auto;
      margin-right: 1%;
      height: 80vh;
      width: 100%;
      background-color: rgb(36, 35, 35);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: .8%;
    }
  
    .text-container {
      margin-top: 1%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 60%;
      padding-bottom: .8%;
    }
  
    .flex-item {
      width: 25%;
      height: 16%;
      margin: .6% 2%;
    }
  
    .text-container h2 {
      font-weight: 700;
      text-align: center;
    }
  
    .text-container p {
      width: 80vw;
      text-align: center;
      font-size: larger;
    }
  }
  
  @media (max-width: 600px) {
    .flex-item {
      width: 25%;
      height: 16%;
      margin: 0% 1% 0% 1%;
    }
  }
  
  @media screen and (max-width: 450px) {
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
      margin-left: auto;
      margin-right: 1%;
      height: 60vh;
      width: 100%;
      background-color: rgb(36, 35, 35);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: .8%;
    }
  
    .navPhoto{
      width:80%;
      height: auto;
      margin:0;
      padding:0
    }
  
    .flex-item {
      width: 25%;
      height: 16%;
      margin: 0% 1% 0% 1%;
    }
  
    .four-icon {
      width: 40%;
    }
  
    .four-container {
      flex-direction: row;
      align-items: center;
    }
  
    .four-container:nth-child(odd) {
      margin-right: 20%;
    }
  
  
  
  
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }